* {
  margin: 0;
}

body{
  background-color: rgb(110, 110, 110);
}

.app{
  display: flex;
  justify-content: space-evenly;
  padding:2%;
}

.app__header > h1{
  color:whitesmoke;
  font-size: 2.5rem;
}

.app__header{
  /*Note: by default display:flex makes everything in a row
  you can change it by using flex-direction: column;*/
  display: flex; 
  /* gives space between children elements inside the div */
  justify-content: space-between;
  align-items: center;
  /* padding vs margin: padding adds space inside the element while margin
  adds the space outside the element */
  margin-bottom: 20px;
}

.app__dropdown{
  background-color: white;
  border-radius: 15px;
}

.app__left{
  flex:0.9;
}

.app__stats{
  display: flex;
  justify-content: space-between;
}

/* avoid app__left and app__right squeezing on reducing screen size */
@media (max-width: 990px) {
  .app{
    flex-direction: column;
  }
}
.app__right{
  display: flex;
  flex-direction: column;
}

.app__right .MuiCardContent-root {
  display:flex;
  flex-direction: column;
  flex-grow: 1;
}